body {
    background-color: rgb(83, 216, 172);
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.login-container {
    background-color: white;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    display: inline-block;
    border-radius: 14px;
    border: solid 1px;
    position: relative;
    height: 320px;
    width: 300px;
    margin-left: 500px;
    margin-bottom:170px ;
    margin-top: 190px;
    box-shadow: 0dvb;
}
.title{
    color: rgb(9, 112, 86);
    text-align: left;
    margin-left: 1cm;
}
.form-group {
    border: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;

}
.bnt-buttonf {
    background-color: rgb(9, 112, 86);
    display: inline-block;
    position: relative;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    padding: 7px;
    text-decoration: none;
    width: 66%;
    font-size: 20px;
    text-align: center;
    
}
a{
    position: relative;
    justify-content: center;
    text-decoration: none;
    color: rgb(7, 85, 65);
    top: 10px;
    text-align: left;
}
input {
    margin: 2px;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    width: 65%;
    position: relative;
    
}
        
    
    